{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 90,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "useTabs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^src/(.*)$",
    "^(.*)/(?!generated)(.*)/(.*)$",
    "^(.*)/generated/(.*)$",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
